html {
  scroll-behavior: smooth;
}
*{
    background: #F3F5FC;
    color: #0A3871;
    font-family: Inter;
    font-size: 1vh;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}
header{
    width: 100%;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
main{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 84vh;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
}
div{
    background: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button{
    cursor: pointer;
    font-size: 2vw;
}
button:active {
    transform: scale(0.9);
}

.logo_alura{
    margin-left: 8%;
}
.contactos{
    width: 20%;
}
.area_texto{
    background: none;
    border-radius: 10%;
    border: none;
    width: 95%;
    height: 80%;
    color: #0A3871;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-transform: lowercase;
    text-align: center;
    resize: none;
}
::placeholder{
    color: #0A3871;
    text-align: center;
}
.area_texto:focus{
    outline: none;
}
.boton_encriptar{
    overflow: hidden;
    width: 40%;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #F3F5FC;
    text-align: center;
}

.boton_desencriptar{
    width: 40%;
    background: #D8DFE8;
    overflow: hidden;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    text-align: center;
}
.mensaje{
    width: 70%;
    height: 95%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.area_texto#output{
    background-image: url("../imagen/placeholder_alura_muñeco.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
    pointer-events: none;
}

.boton_copiar{
    display: none;
    width: 30%;
    background: #F3F5FC;
    overflow: hidden;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: hsl(213, 84%, 24%);
    text-align: center;
}
.clear-button{
    display: none;
    background: #F3F5FC;
    overflow: hidden;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: hsl(0, 82%, 37%);
    text-align: center;
}
@media (max-width: 767px) {
    main{
        height: 168vh;
        flex-direction: column;
    }
    section {
      width: 100%;
      height: 50%;
    }
    button { 
        font-size: 5vw;
    }
    .output{
        justify-content: start;
    }
    .area_texto{
        border-radius: 0;
        height: 75%;
    }
    .botones {
        flex-direction: column;
        justify-content: center;
        gap: 1vh;
        height: 25%;

    }
    .mensaje .botones{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .boton_encriptar, .boton_desencriptar{
        width: 90%;
    }
    .boton_copiar{
        width: 30%;
    }
    .mensaje{
        width: 90%;
        margin: 0 0 0 0;
    }
    .area_texto#output{
        background-image: url(../imagen/placeholder_alura_mensaje.svg);
    }
  }