body{
    width: 100vw;
    height: 100vh;
}
*{
    background: #F3F5FC;
    color: #0A3871;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}
header{
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: left;

}
main{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 84%;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
}
div{
    background: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button{
    font-size: 2vw;
}

.area_texto{
    background: none;
    border-radius: 10%;
    border: none;
    width: 95%;
    height: 80%;
    color: #0A3871;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-transform: lowercase;
    text-align: center;
    resize: none;
}

.logo_alura{
    margin-left: 8%;
}
.logo_github{
    margin-left: 8%;
    width: 70px;
}

::placeholder{
    color: #0A3871;
    text-align: center;
}
.area_texto:focus{
    outline: none;
}
.boton_encriptar{
    overflow: hidden;
    width: 40%;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #F3F5FC;
    text-align: center;
}

.boton_desencriptar{
    width: 40%;
    background: #D8DFE8;
    overflow: hidden;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    text-align: center;
}
.mensaje{
    width: 70%;
    height: 95%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.area_texto#output{
    background-image: url(../imagen/esperando_alura_muñeco.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    pointer-events: none;
    overflow: hidden;
}

.boton_copiar{
    width: 40%;
    background: #F3F5FC;
    overflow: hidden;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    text-align: center;
}


@media (max-width: 767px) {
    main{
        height: 168vh;
        flex-direction: column;
    }
    section {
      width: 100%;
      height: 50%;
    }
    button { 
        margin-top: 1vh;
        font-size: 5vw;
    }
    .boton_encriptar, .boton_desencriptar, .boton_copiar{
        width: 90%;
    }
    .area_texto{
        border-radius: 0;
    }
    .mensaje{
        width: 90%;
        margin: 0 0 0 0;
        height: 40%;
    }

    .botones {
        flex-direction: column;
    }

    .area_texto#output{
        background-image: url(../imagen/mensaje_alura_placeholder.png);
    }
  }